/*
* node-sass magic importer. features/how to:
* https://github.com/maoberlehner/node-sass-magic-importer
*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

@import "~dat-design";
@import "~dat-design/scss/variables/colors.scss";

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

.header {
  background-color: $color-neutral--04;
  border-bottom: 1px solid $color-neutral--10;
  height: 60px;
  h1 {
    margin: 0;
    line-height: 58px;
    span {
      color: $color-neutral--60;
    }
  }
  .container {
    padding-top: 0;
  }
  img {
    display: inline-block;
    vertical-align: -5px;
  }
}

.key {
  font-size: .875rem;
  color: #7C8792;
  text-transform: uppercase;
  letter-spacing: .025em;
}

.btn {
  // float:right;
}

.main {
  // padding-top: 1.5rem;
}

.container {
  margin: 0 auto;
  padding: .75rem 2rem;
  max-width: 1170px;
}

.section {
  max-width: 800px;
  padding: 1rem 0;
  clear: both;
}

.grid {
  margin: 0 auto;
}


.dat-progress-circle {
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: #394b5b;
  background-image: -webkit-linear-gradient(left, transparent 50%, #2980B9 0);
  background-image: linear-gradient(to right, transparent 50%, #2980B9 0);
  color: transparent;
  text-align: center;
  -webkit-animation: done 100.1s linear infinite;
          animation: done 100.1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.dat-progress-circle:hover {
  box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.3);
}
/*    .dat-progress-circle .dat-progress-circle__avatar img {
  transition: -webkit-filter 0.1s linear;
}
.dat-progress-circle:hover .dat-progress-circle__avatar img {
  -webkit-filter: blur(5px);
}
*/
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}
@-webkit-keyframes bg {
  50% {
    background: #2980B9;
  }
}
@keyframes bg {
  50% {
    background: #2980B9;
  }
}
@-webkit-keyframes done {
  0% {
    background-color: #394b5b;
  }
  99% {
    background-color: #394b5b;
  }
  100% {
    background-color: #35B44F;
  }
}
@keyframes done {
  0% {
    background-color: #394b5b;
  }
  99% {
    background-color: #394b5b;
  }
  100% {
    background-color: #35B44F;
  }
}
@keyframes bounce-once {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-once {
  animation: bounce-once 0.5s cubic-bezier(0.320, -0.280, 0.760, 1.310) forwards;
}

.dat-progress-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: spin 50s linear infinite, bg 100s step-end infinite;
          animation: spin 50s linear infinite, bg 100s step-end infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}

.dat-progress-circle__avatar {
  position: absolute;
  background-color: #65737F;
  width: 72px;
  height: 72px;
  top: 4px;
  left: 4px;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.dat-progress-circle__avatar img {
  display: block;
  width: 100%;
}

.dat-progress-circle {
  display: inline-block;
}

.friend {
  transition: top 1s ease, left 1s ease;
}

#network {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}